@charset "UTF-8";
/* CSS Document */

.banner{
width: 130px;	
height: 500px; 
background-image:url("casa.jpg");
background-size: cover;


}

p {
	color:yellow;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 30px;
	margin-top: 100px;
	padding-top: 40px;
	margin-left: 15px;

}

.logo {
	margin: 20px;
}


/*øvelse i bevægelse med hastigeheder*/
.blackBox {

animation-name: green-box-move; animations-fill-mode: both; transition-timing-function: ease-in; animation-duration: 2s; 
width: 30px;
height: 30px;
padding-top: 25px;
top: 40px;
left: 20px;
position: absolute;
animation-iteration-count: 4s;
}


@keyframes green-box-move{
	0%{transform: :transalte(0px,0px);}
	100% {transform:translate(0px, 200px);}
	
}